@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "./varibles.scss";
@import "./breakpoints.scss";

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Poppins", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // overflow: hidden;
}

hr {
  margin: 0.8rem 0;
  border: 1px solid #848e9f;
}

.d-lg-flex {
  @include media(">=1200px") {
    display: flex;
  }
}

.align-items-lg-center {
  @include media(">=1200px") {
    align-items: center;
  }
}

#root {
  position: relative;
}

::selection {
  color: #fff;
  background: #ee1b26;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
    &.direction-column {
      flex-direction: column;
    }
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  // height: 100vh;
  height: 100%;
  width: 100%;
  background: $white;
  &.with-scroll {
    .row {
    }
  }
  @include media("<=phone") {
    padding-top: 10px;
  }
  .row {
    display: flex;
    // align-items: center;
    padding-top: 115px;
    padding-bottom: 50px;
    @include media("<=phone") {
      height: auto;
      padding-top: 100px;
    }
    &.direction-column {
      flex-direction: column;
    }
    h1 {
      font-size: 3rem;
      line-height: 4.2rem;
      font-weight: 700;
      z-index: 10;
      color: $black;
      margin-bottom: 1rem;
      // mix-blend-mode: difference;
      @include media("<=tablet") {
        font-size: 2rem;
        line-height: 3rem;
      }
      @include media("<=phone") {
        margin-top: 10px;
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
    }
    h2 {
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 700;
      z-index: 10;
      color: $black;
      margin-bottom: 1rem;
      // mix-blend-mode: difference;
      @include media("<=tablet") {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
      @include media("<=phone") {
        margin-top: 72px;
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }
    h3 {
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-weight: 600;
      z-index: 10;
      color: $black;
      margin-bottom: 1rem;
      // mix-blend-mode: difference;
      @include media("<=tablet") {
        font-size: 1.5rem;
        line-height: 2.1rem;
      }
      @include media("<=phone") {
        font-size: 1rem;
        line-height: 1.8rem;
      }
    }
    p {
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 500;
      z-index: 10;
      color: $black;
      // mix-blend-mode: difference;
      a {
        color: $white;
        text-decoration: none;
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          bottom: 0;
          background-color: $white;
          left: 50%;
          transition: 0.5s;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
  &.inner .row {
    align-items: flex-start;
  }
}

.header {
  position: absolute;
  width: 100%;
  height: 125px;
  z-index: 4;
  top: 0;
  @include media("<=phone") {
    height: 96px;
  }
  .logo {
    a {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      color: $black;
      text-decoration: none;
      font-weight: 700;
    }
  }
  .nav-btn {
    width: 25px;
    cursor: pointer;
    @include media("<=phone") {
      width: 20px;
    }
    &.active {
      span {
        transform: rotate(45deg) translateY(0);
        margin-bottom: 0 !important;
        &:last-child {
          transform: rotate(-45deg) translateY(-100%);
        }
      }
    }
    span {
      margin-bottom: 0.3rem;
      background-color: $black;
      height: 2px;
      width: 100%;
      display: block;
      transition: 0.5s;
    }
  }
}

// main - home

.main {
  // height: 100vh;
  // height: calc(var(--vh, 1vh) * 50);
  background-color: $white;
  @include media(">=desktop") {
    height: 100vh;
  }
  @include media("<=tablet") {
  }
  .row {
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 50px;
    h2 {
      font-size: 3rem;
      line-height: 4.2rem;
      font-weight: 700;
      z-index: 10;
      color: $white;
      margin-bottom: 1rem;
      mix-blend-mode: difference;
      @include media("<=tablet") {
        font-size: 2rem;
        line-height: 3rem;
      }
      @include media("<=phone") {
        margin-top: 72px;
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
      .line {
        margin-bottom: 8px;
        height: 56px;
        position: relative;
        overflow: hidden;
        // @include media("<=desktop", ">=phone") {
        //   height: 65px;
        // }
        &.sub {
          font-size: 1.3rem;
          line-height: 2.2rem;
          font-weight: 500;
          margin-top: 1.2rem;
          @include media("<=phone") {
            font-size: 1rem;
            line-height: 1.6rem;
            margin-top: 0.5rem;
          }
          @include media("<=tablet") {
            font-size: 1.2rem;
            line-height: 1.6rem;
            margin-top: 0.5rem;
          }
        }
        @include media("<=tablet") {
          height: 48px;
        }
        @include media("<=phone") {
          // height: 32px;
        }
        span {
          position: absolute;
        }
      }
    }
    .profile {
      position: absolute;
      right: 32px;
      bottom: 45%;
      transform: translate(-30%, 50%);
      @include media("<=desktop") {
        position: static;
        order: -1;
      }
      #strokePath {
        stroke-dasharray: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
      }
    }
    p {
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 400;
      z-index: 10;
      color: $white;
      mix-blend-mode: difference;
      a {
        color: $white;
        text-decoration: none;
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          bottom: 0;
          background-color: $white;
          left: 50%;
          transition: 0.5s;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
    .btn-row {
      width: 256px;
      position: relative;
      z-index: 2;
      a {
        font-size: 1.5rem;
        color: $black;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 600;
        @include media("<=tablet") {
          font-size: 1.2rem;
        }
        @include media("<=phone") {
          font-size: 1rem;
        }
        &:hover {
          svg {
            background: $black;
            color: $white;
          }
        }
        svg {
          margin-left: 16px;
          border: 2px solid $black;
          padding: 10px;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          transition: 0.05s ease-in-out;
          @include media("<=tablet") {
            padding: 8px;
            height: 16px;
            width: 16px;
          }
          @include media("<=phone") {
            padding: 5px;
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }
}

// cases

.cases {
  height: 50vh;
  // height: calc(var(--vh, 1vh) * 50);
  @include media("<=tablet") {
    height: calc(var(--vh, 1vh) * 50);
  }
  .cases-navigation {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    padding: 32px;
    box-sizing: border-box;
    @include media("<=tablet") {
      display: none;
    }
    .cases-arrow {
      background: rgba(0, 0, 0, 0.4);
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: $white;
        width: 25px;
        height: 25px;
      }
      &.prev {
      }
      &.next {
      }
      &.disabled {
        opacity: 0.5;
      }
    }
  }
  .row {
    @include media("<=tablet") {
      flex-direction: column;
    }
    .case {
      position: relative;
      background: $black;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      &:hover {
        .case-image {
          opacity: 0.4;
        }
      }
      .case-details {
        width: 33.3333vw;
        height: 50vh;
        // height: calc(var(--vh, 1vh) * 50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
        @include media("<=tablet") {
          width: 100vw;
          height: calc(var(--vh, 1vh) * 50);
        }
        @include media("<=phone") {
          padding: 16px;
        }
        span {
          margin-top: 90px;
          font-size: 1.6rem;
          opacity: 0.8;
          color: $white;
          font-weight: 600;
          @include media("<=desktop", ">tablet") {
            font-size: 1.4rem;
          }
          @include media("<=phone") {
            font-size: 1.2rem;
            list-style: 2.2rem;
          }
        }
        h2 {
          font-size: 2.4rem;
          line-height: 3.4rem;
          width: 85%;
          margin-top: 16px;
          color: $white;
          @include media("<=desktop", ">tablet") {
            font-size: 1.8rem;
            line-height: 2rem;
          }
          @include media("<=phone") {
            font-size: 1.6rem;
            line-height: 2rem;
            margin-top: 8px;
          }
        }
      }
      .case-image {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0.65;
        transition: 0.5s cubic-bezier(0.6, -0.05, 0.1, 0.99);
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// intro overlay

.intro-overlay {
  .top {
    height: 100vh;
    // height: calc(var(--vh, 1vh) * 50);
    position: absolute;
    width: 100%;
    z-index: 8;
    @include media("<=tablet") {
    }
    .overlay-top {
      position: absolute;
      height: 100%;
      width: 33.333%;
      background-color: $black;
      bottom: 0;
      left: 0;
      right: 0;
      @include media("<=tablet") {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 33.333%;
        @include media("<=tablet") {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 66.666%;
        @include media("<=tablet") {
          display: none;
        }
      }
    }
  }
}

// navigation
nav {
  left: 0;
  top: -1px;
  width: 100%;
  height: 75%;
  z-index: 1;
  position: fixed;
  display: none;
  overflow: hidden;
  background-color: $yellow;
  .nav-columns {
    transform: translateY(125px);
    display: flex;
    padding: 0 32px;
    @include media("<=654px") {
      flex-direction: column;
    }
    @include media("<=phone") {
      padding: 0 16px;
    }
    .nav-column {
      width: 45%;
      @include media("<=654px") {
        width: 100%;
      }
      &:last-child {
        width: 55%;
        @include media("<=654px") {
          width: 100%;
        }
      }
      .nav-label {
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
        @include media(">=tablet") {
          margin-top: 1rem;
        }
        @include media("<=tablet") {
          font-size: 1rem;
          margin-bottom: 1.4rem;
        }
        @include media("<=phone") {
          font-size: 0.875rem;
          margin-bottom: 1.2rem;
        }
      }
      .nav-links {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          margin-bottom: 2rem;
          @include media("<=phone") {
            margin-bottom: 1rem;
          }
          a {
            font-weight: 600;
            font-size: 1.8rem;
            text-decoration: none;
            color: $black;
            display: inline-block;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              right: 0;
              background-color: $black;
              transition: 0.5s;
            }
            &:hover::after,
            &.active::after {
              width: 100%;
              left: 0;
            }
            @include media("<=phone") {
              font-size: 1.2rem;
            }
          }
        }
      }
      // .nav-infos {
      //   display: flex;
      //   flex-wrap: wrap;
      //   @include media("<=654px") {
      //     justify-content:space-between;
      //   }

      // }
      .nav-info {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          margin-bottom: 1.2rem;
          font-weight: 400;
          font-size: 1.4rem;
          @include media("<=tablet") {
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }
          @include media("<=phone") {
            margin-bottom: 0.875rem;
            font-size: 1rem;
          }
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $black;
            display: inline-block;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 1px;
              bottom: 0;
              background-color: $black;
              right: 0;
              transition: 0.5s;
            }
            &:hover::after {
              width: 100%;
              left: 0;
            }
          }
        }
        .nav-info-label {
          font-weight: 600;
        }
      }
    }
  }
}

// sub components

.skill-progress-bar {
  margin-bottom: 0.8rem;
  // padding: 8px;
  // border-radius: 5px;
  // background: rgba(0, 0, 0, 0);
  // border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover {
    .level {
      span {
        opacity: 1;
      }
    }
  }
  p.skill {
    transition: 0.5s;
    font-weight: 600;
    // font-size: 0.8rem;
    // margin-bottom: 0.25rem;
  }
  .level {
    background-color: #fff0ce;
    position: relative;
    width: 100%;
    height: 5px;
    &::after {
      content: "";
      position: absolute;
      background-color: #202020;
      height: 5px;
      width: 0;
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
    }
    // span {
    //   font-size: 0.8rem;
    //   background: #3a3a3a;
    //   color: #fff;
    //   padding: 4px 8px;
    //   border-radius: 4px;
    //   position: absolute;
    //   bottom: 20px;
    //   z-index: 2;
    //   right: 0;
    //   display: inline-block;
    //   transition: 0.5s;
    //   &::after {
    //     content: "";
    //     width: 6px;
    //     height: 6px;
    //     position: absolute;
    //     background: #3a3a3a;
    //     bottom: 0;
    //     left: 27px;
    //     z-index: 1;
    //     transform: translateY(3px) rotate(45deg);
    //     display: inline-block;
    //   }
    // }
  }
  &.level-1 {
    .level::after {
      width: 10%;
    }
  }
  &.level-1 {
    .level::after {
      width: 10%;
    }
  }
  &.level-1 {
    .level::after {
      width: 10%;
    }
  }
  &.level-2 {
    .level::after {
      width: 20%;
    }
  }
  &.level-3 {
    .level::after {
      width: 30%;
    }
  }
  &.level-4 {
    .level::after {
      width: 40%;
    }
  }
  &.level-5 {
    .level::after {
      width: 50%;
    }
  }
  &.level-6 {
    .level::after {
      width: 60%;
    }
  }
  &.level-7 {
    .level::after {
      width: 70%;
    }
  }
  &.level-8 {
    .level::after {
      width: 80%;
    }
  }
  &.level-9 {
    .level::after {
      width: 90%;
    }
  }
  &.level-10 {
    .level::after {
      width: 100%;
    }
  }
}

#footerInfo {
  margin-top: 50px;
  @include media(">desktop") {
    margin-top: 180px;
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: initial;
    user-select: text;
    span {
      color: rgb(184, 184, 184);
    }
  }
}

.customized-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 -16px;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media("<=phone") {
    flex-direction: column;
  }
  .customized-column {
    padding: 0 16px;
    &.col-lg-4 {
      @include media(">=desktop") {
        width: 30.7%;
      }
    }
    &.col-lg-7 {
      @include media(">=1200px") {
        width: calc(55.333333% - 32px);
      }
    }
    &.col-lg-5 {
      @include media(">=1200px") {
        width: calc(44.666667% - 32px);
      }
    }
    &.col-xxl-7 {
      @include media(">=1800px") {
        width: calc(52.333333% - 32px);
      }
    }
    &.col-xxl-5 {
      @include media(">=1800px") {
        width: calc(47.666667% - 32px);
      }
    }
    &.col-md-12 {
      @include media("<=1200px") {
        width: 100%;
      }
    }
    &.col-sm-6 {
      @include media("<=desktop", ">=phone") {
        width: 42%;
      }
    }
    &.col-sm-12 {
      @include media("<=desktop", ">=phone") {
        width: 100%;
      }
    }
    &.col-xs-12 {
      @include media("<=phone") {
        width: 100%;
      }
    }
    h4 {
      font-size: 1.1rem;
      margin-bottom: 0.7rem;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 1.2rem;
        display: inline-block;
        margin-right: 15px;
        @include media("<=tablet") {
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }
        @include media("<=phone") {
          margin-bottom: 0.875rem;
          font-size: 1rem;
        }
        a {
          font-size: 0.9rem;
          text-decoration: none;
          color: $black;
          display: inline-block;
          position: relative;
          &.icons {
            font-size: 1.4rem;
            transition: 0.5s;
            &:hover {
              color: rgb(85, 85, 85);
            }
            &::after {
              content: none;
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            background-color: $black;
            right: 0;
            transition: 0.5s;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

.work-wrapper {
  mix-blend-mode: inherit;
  padding-top: 0.3rem;
  @include media("<=1200px") {
    flex-direction: column-reverse;
    padding-top: 0.8rem;
  }
  .process-item {
    position: relative;
    cursor: pointer;
    .process-item__content {
      position: relative;
      padding-left: 55px;
      margin-bottom: 25px;
      @include media("<=phone") {
        padding-left: 45px;
      }
      &::before {
        content: "\f0ae";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 0;
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 11px;
        color: #000;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #848e9f;
        -webkit-transition: all 300ms ease 0s;
        transition: all 300ms ease 0s;
        @include media("<=phone") {
          width: 26px;
          height: 26px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 15px;
        width: 2px;
        background-color: #848e9f;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
      }
      .process-item__title {
        color: #000;
        font-size: 19px;
        font-weight: 600;
        margin-top: 0;
        padding-top: 8px;
        @include media("<=phone") {
          padding-top: 5px;
        }
      }
      .process-item__desc {
        font-size: 15px;
        margin-bottom: 0;
      }
      &:last-of-type {
        .process-item__content {
          margin-bottom: 0;
        }
      }
    }
    &.active {
      .process-item__content {
        &::before {
          // content: "\f00c";
          border-color: #ebc05d;
          background-color: #ebc05d;
          color: #fff;
        }
        &::after {
          background-color: #ebc05d;
        }
      }
      &:hover {
        .process-item__content {
          &::before {
            color: #fff;
          }
        }
      }
    }
    &:hover {
      .process-item__content {
        &::before {
          color: #ebc05d;
          border-color: #ebc05d;
        }
      }
    }
  }

  .tab-content {
    .tab-pane {
      video {
        width: 100%;
        position: relative;
      }
      display: none;
      .video-wrapper {
        margin-bottom: 1.3rem;
        position: relative;
        z-index: 1;
        .work-links-wrapper {
          position: absolute;
          bottom: 20px;
          left: 5px;
          .work-link {
            width: 40px;
            height: 40px;
            display: inline-flex;
            font-size: 18px;
            align-items: center;
            justify-content: center;
            color: #000;
            text-decoration: none;
            margin: 0 10px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            transition: 0.5s;
            &:hover {
              color: rgb(75, 75, 75);
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
      &.active {
        display: block;
      }
      .tab-pane-item__hash {
      }
      .tab-pane-item__desc {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-bottom: 0.8rem;
        color: #000000;
      }
    }
  }
}

.loader3 {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
}
.loader3 span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #ebc05d;
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}
.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}
@keyframes loader3 {
  0% {
    transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

// react transition group

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
