@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body,
html {
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #ffffff;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Poppins", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin: 0.8rem 0;
  border: 1px solid #848e9f;
}

@media (min-width: 1200px) {
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .align-items-lg-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#root {
  position: relative;
}

::-moz-selection {
  color: #fff;
  background: #ee1b26;
}

::selection {
  color: #fff;
  background: #ee1b26;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1560px) {
  .container {
    width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1080px;
    min-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
    min-width: 100%;
  }
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 32px;
}

@media (max-width: 465px) {
  .container .row {
    padding: 0 16px;
  }
}

.container .v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container-fluid .row.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App {
  z-index: 2;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: relative;
}

.page {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

@media (max-width: 465px) {
  .page {
    padding-top: 10px;
  }
}

.page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-bottom: 50px;
}

@media (max-width: 465px) {
  .page .row {
    height: auto;
    padding-top: 100px;
  }
}

.page .row.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .row h1 {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 700;
  z-index: 10;
  color: #000000;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .page .row h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 465px) {
  .page .row h1 {
    margin-top: 10px;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

.page .row h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  z-index: 10;
  color: #000000;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .page .row h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 465px) {
  .page .row h2 {
    margin-top: 72px;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.page .row h3 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  z-index: 10;
  color: #000000;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .page .row h3 {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

@media (max-width: 465px) {
  .page .row h3 {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.page .row p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  z-index: 10;
  color: #000000;
}

.page .row p a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.page .row p a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #ffffff;
  left: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page .row p a:hover::after {
  width: 100%;
  left: 0;
}

.page.inner .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header {
  position: absolute;
  width: 100%;
  height: 125px;
  z-index: 4;
  top: 0;
}

@media (max-width: 465px) {
  .header {
    height: 96px;
  }
}

.header .logo a {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.header .nav-btn {
  width: 25px;
  cursor: pointer;
}

@media (max-width: 465px) {
  .header .nav-btn {
    width: 20px;
  }
}

.header .nav-btn.active span {
  -webkit-transform: rotate(45deg) translateY(0);
          transform: rotate(45deg) translateY(0);
  margin-bottom: 0 !important;
}

.header .nav-btn.active span:last-child {
  -webkit-transform: rotate(-45deg) translateY(-100%);
          transform: rotate(-45deg) translateY(-100%);
}

.header .nav-btn span {
  margin-bottom: 0.3rem;
  background-color: #000000;
  height: 2px;
  width: 100%;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main {
  background-color: #ffffff;
}

@media (min-width: 1366px) {
  .main {
    height: 100vh;
  }
}

.main .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 120px;
  padding-bottom: 50px;
}

.main .row h2 {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 700;
  z-index: 10;
  color: #ffffff;
  margin-bottom: 1rem;
  mix-blend-mode: difference;
}

@media (max-width: 768px) {
  .main .row h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 465px) {
  .main .row h2 {
    margin-top: 72px;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

.main .row h2 .line {
  margin-bottom: 8px;
  height: 56px;
  position: relative;
  overflow: hidden;
}

.main .row h2 .line.sub {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

@media (max-width: 465px) {
  .main .row h2 .line.sub {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .main .row h2 .line.sub {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .main .row h2 .line {
    height: 48px;
  }
}

.main .row h2 .line span {
  position: absolute;
}

.main .row .profile {
  position: absolute;
  right: 32px;
  bottom: 45%;
  -webkit-transform: translate(-30%, 50%);
          transform: translate(-30%, 50%);
}

@media (max-width: 1366px) {
  .main .row .profile {
    position: static;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.main .row .profile #strokePath {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  stroke-width: 0;
}

.main .row p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  z-index: 10;
  color: #ffffff;
  mix-blend-mode: difference;
}

.main .row p a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.main .row p a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #ffffff;
  left: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .row p a:hover::after {
  width: 100%;
  left: 0;
}

.main .row .btn-row {
  width: 256px;
  position: relative;
  z-index: 2;
}

.main .row .btn-row a {
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main .row .btn-row a {
    font-size: 1.2rem;
  }
}

@media (max-width: 465px) {
  .main .row .btn-row a {
    font-size: 1rem;
  }
}

.main .row .btn-row a:hover svg {
  background: #000000;
  color: #ffffff;
}

.main .row .btn-row a svg {
  margin-left: 16px;
  border: 2px solid #000000;
  padding: 10px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  -webkit-transition: 0.05s ease-in-out;
  transition: 0.05s ease-in-out;
}

@media (max-width: 768px) {
  .main .row .btn-row a svg {
    padding: 8px;
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 465px) {
  .main .row .btn-row a svg {
    padding: 5px;
    height: 16px;
    width: 16px;
  }
}

.cases {
  height: 50vh;
}

@media (max-width: 768px) {
  .cases {
    height: calc(var(--vh, 1vh) * 50);
  }
}

.cases .cases-navigation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .cases .cases-navigation {
    display: none;
  }
}

.cases .cases-navigation .cases-arrow {
  background: rgba(0, 0, 0, 0.4);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cases .cases-navigation .cases-arrow svg {
  color: #ffffff;
  width: 25px;
  height: 25px;
}

.cases .cases-navigation .cases-arrow.disabled {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .cases .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cases .row .case {
  position: relative;
  background: #000000;
  cursor: pointer;
}

.cases .row .case a {
  text-decoration: none;
}

.cases .row .case:hover .case-image {
  opacity: 0.4;
}

.cases .row .case .case-details {
  width: 33.3333vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  position: relative;
}

@media (max-width: 768px) {
  .cases .row .case .case-details {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 50);
  }
}

@media (max-width: 465px) {
  .cases .row .case .case-details {
    padding: 16px;
  }
}

.cases .row .case .case-details span {
  margin-top: 90px;
  font-size: 1.6rem;
  opacity: 0.8;
  color: #ffffff;
  font-weight: 600;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .cases .row .case .case-details span {
    font-size: 1.4rem;
  }
}

@media (max-width: 465px) {
  .cases .row .case .case-details span {
    font-size: 1.2rem;
    list-style: 2.2rem;
  }
}

.cases .row .case .case-details h2 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  width: 85%;
  margin-top: 16px;
  color: #ffffff;
}

@media (max-width: 1366px) and (min-width: 769px) {
  .cases .row .case .case-details h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

@media (max-width: 465px) {
  .cases .row .case .case-details h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 8px;
  }
}

.cases .row .case .case-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 0.65;
  -webkit-transition: 0.5s cubic-bezier(0.6, -0.05, 0.1, 0.99);
  transition: 0.5s cubic-bezier(0.6, -0.05, 0.1, 0.99);
}

.cases .row .case .case-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-overlay .top {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 8;
}

.intro-overlay .top .overlay-top {
  position: absolute;
  height: 100%;
  width: 33.333%;
  background-color: #000000;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .intro-overlay .top .overlay-top {
    width: 100vw;
  }
}

.intro-overlay .top .overlay-top:nth-child(2) {
  left: 33.333%;
}

@media (max-width: 768px) {
  .intro-overlay .top .overlay-top:nth-child(2) {
    display: none;
  }
}

.intro-overlay .top .overlay-top:nth-child(3) {
  left: 66.666%;
}

@media (max-width: 768px) {
  .intro-overlay .top .overlay-top:nth-child(3) {
    display: none;
  }
}

nav {
  left: 0;
  top: -1px;
  width: 100%;
  height: 75%;
  z-index: 1;
  position: fixed;
  display: none;
  overflow: hidden;
  background-color: #fff3d8;
}

nav .nav-columns {
  -webkit-transform: translateY(125px);
          transform: translateY(125px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 32px;
}

@media (max-width: 654px) {
  nav .nav-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 465px) {
  nav .nav-columns {
    padding: 0 16px;
  }
}

nav .nav-columns .nav-column {
  width: 45%;
}

@media (max-width: 654px) {
  nav .nav-columns .nav-column {
    width: 100%;
  }
}

nav .nav-columns .nav-column:last-child {
  width: 55%;
}

@media (max-width: 654px) {
  nav .nav-columns .nav-column:last-child {
    width: 100%;
  }
}

nav .nav-columns .nav-column .nav-label {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  nav .nav-columns .nav-column .nav-label {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  nav .nav-columns .nav-column .nav-label {
    font-size: 1rem;
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 465px) {
  nav .nav-columns .nav-column .nav-label {
    font-size: 0.875rem;
    margin-bottom: 1.2rem;
  }
}

nav .nav-columns .nav-column .nav-links {
  padding: 0;
  margin: 0;
}

nav .nav-columns .nav-column .nav-links li {
  list-style: none;
  margin-bottom: 2rem;
}

@media (max-width: 465px) {
  nav .nav-columns .nav-column .nav-links li {
    margin-bottom: 1rem;
  }
}

nav .nav-columns .nav-column .nav-links li a {
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  position: relative;
}

nav .nav-columns .nav-column .nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .nav-columns .nav-column .nav-links li a:hover::after, nav .nav-columns .nav-column .nav-links li a.active::after {
  width: 100%;
  left: 0;
}

@media (max-width: 465px) {
  nav .nav-columns .nav-column .nav-links li a {
    font-size: 1.2rem;
  }
}

nav .nav-columns .nav-column .nav-info {
  padding: 0;
  margin: 0;
}

nav .nav-columns .nav-column .nav-info li {
  list-style: none;
  margin-bottom: 1.2rem;
  font-weight: 400;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  nav .nav-columns .nav-column .nav-info li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 465px) {
  nav .nav-columns .nav-column .nav-info li {
    margin-bottom: 0.875rem;
    font-size: 1rem;
  }
}

nav .nav-columns .nav-column .nav-info li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  position: relative;
}

nav .nav-columns .nav-column .nav-info li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #000000;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .nav-columns .nav-column .nav-info li a:hover::after {
  width: 100%;
  left: 0;
}

nav .nav-columns .nav-column .nav-info .nav-info-label {
  font-weight: 600;
}

.skill-progress-bar {
  margin-bottom: 0.8rem;
}

.skill-progress-bar:hover .level span {
  opacity: 1;
}

.skill-progress-bar p.skill {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.skill-progress-bar .level {
  background-color: #fff0ce;
  position: relative;
  width: 100%;
  height: 5px;
}

.skill-progress-bar .level::after {
  content: "";
  position: absolute;
  background-color: #202020;
  height: 5px;
  width: 0;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
}

.skill-progress-bar.level-1 .level::after {
  width: 10%;
}

.skill-progress-bar.level-1 .level::after {
  width: 10%;
}

.skill-progress-bar.level-1 .level::after {
  width: 10%;
}

.skill-progress-bar.level-2 .level::after {
  width: 20%;
}

.skill-progress-bar.level-3 .level::after {
  width: 30%;
}

.skill-progress-bar.level-4 .level::after {
  width: 40%;
}

.skill-progress-bar.level-5 .level::after {
  width: 50%;
}

.skill-progress-bar.level-6 .level::after {
  width: 60%;
}

.skill-progress-bar.level-7 .level::after {
  width: 70%;
}

.skill-progress-bar.level-8 .level::after {
  width: 80%;
}

.skill-progress-bar.level-9 .level::after {
  width: 90%;
}

.skill-progress-bar.level-10 .level::after {
  width: 100%;
}

#footerInfo {
  margin-top: 50px;
}

@media (min-width: 1367px) {
  #footerInfo {
    margin-top: 180px;
  }
}

#footerInfo p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: initial;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

#footerInfo p span {
  color: #b8b8b8;
}

.customized-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 -16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 465px) {
  .customized-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.customized-row .customized-column {
  padding: 0 16px;
}

@media (min-width: 1366px) {
  .customized-row .customized-column.col-lg-4 {
    width: 30.7%;
  }
}

@media (min-width: 1200px) {
  .customized-row .customized-column.col-lg-7 {
    width: calc(55.333333% - 32px);
  }
}

@media (min-width: 1200px) {
  .customized-row .customized-column.col-lg-5 {
    width: calc(44.666667% - 32px);
  }
}

@media (min-width: 1800px) {
  .customized-row .customized-column.col-xxl-7 {
    width: calc(52.333333% - 32px);
  }
}

@media (min-width: 1800px) {
  .customized-row .customized-column.col-xxl-5 {
    width: calc(47.666667% - 32px);
  }
}

@media (max-width: 1200px) {
  .customized-row .customized-column.col-md-12 {
    width: 100%;
  }
}

@media (max-width: 1366px) and (min-width: 465px) {
  .customized-row .customized-column.col-sm-6 {
    width: 42%;
  }
}

@media (max-width: 1366px) and (min-width: 465px) {
  .customized-row .customized-column.col-sm-12 {
    width: 100%;
  }
}

@media (max-width: 465px) {
  .customized-row .customized-column.col-xs-12 {
    width: 100%;
  }
}

.customized-row .customized-column h4 {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

.customized-row .customized-column ul {
  padding: 0;
  margin: 0;
}

.customized-row .customized-column ul li {
  list-style: none;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .customized-row .customized-column ul li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 465px) {
  .customized-row .customized-column ul li {
    margin-bottom: 0.875rem;
    font-size: 1rem;
  }
}

.customized-row .customized-column ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  position: relative;
}

.customized-row .customized-column ul li a.icons {
  font-size: 1.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.customized-row .customized-column ul li a.icons:hover {
  color: #555555;
}

.customized-row .customized-column ul li a.icons::after {
  content: none;
}

.customized-row .customized-column ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #000000;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.customized-row .customized-column ul li a:hover::after {
  width: 100%;
  left: 0;
}

.work-wrapper {
  mix-blend-mode: inherit;
  padding-top: 1rem;
}

@media (max-width: 1200px) {
  .work-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.work-wrapper .process-item {
  position: relative;
  cursor: pointer;
}

.work-wrapper .process-item .process-item__content {
  position: relative;
  padding-left: 55px;
  margin-bottom: 25px;
}

@media (max-width: 465px) {
  .work-wrapper .process-item .process-item__content {
    padding-left: 45px;
  }
}

.work-wrapper .process-item .process-item__content::before {
  content: "\f0ae";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 11px;
  color: #000;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #848e9f;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

@media (max-width: 465px) {
  .work-wrapper .process-item .process-item__content::before {
    width: 26px;
    height: 26px;
  }
}

.work-wrapper .process-item .process-item__content::after {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 15px;
  width: 2px;
  background-color: #848e9f;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work-wrapper .process-item .process-item__content .process-item__title {
  color: #000;
  font-size: 19px;
  font-weight: 600;
  margin-top: 0;
  padding-top: 8px;
}

@media (max-width: 465px) {
  .work-wrapper .process-item .process-item__content .process-item__title {
    padding-top: 5px;
  }
}

.work-wrapper .process-item .process-item__content .process-item__desc {
  font-size: 15px;
  margin-bottom: 0;
}

.work-wrapper .process-item .process-item__content:last-of-type .process-item__content {
  margin-bottom: 0;
}

.work-wrapper .process-item.active .process-item__content::before {
  border-color: #ebc05d;
  background-color: #ebc05d;
  color: #fff;
}

.work-wrapper .process-item.active .process-item__content::after {
  background-color: #ebc05d;
}

.work-wrapper .process-item.active:hover .process-item__content::before {
  color: #fff;
}

.work-wrapper .process-item:hover .process-item__content::before {
  color: #ebc05d;
  border-color: #ebc05d;
}

.work-wrapper .tab-content .tab-pane {
  display: none;
}

.work-wrapper .tab-content .tab-pane video {
  width: 100%;
  position: relative;
}

.work-wrapper .tab-content .tab-pane .video-wrapper {
  margin-bottom: 1.3rem;
  position: relative;
  z-index: 1;
}

.work-wrapper .tab-content .tab-pane .video-wrapper .work-links-wrapper {
  position: absolute;
  bottom: 20px;
  left: 5px;
}

.work-wrapper .tab-content .tab-pane .video-wrapper .work-links-wrapper .work-link {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work-wrapper .tab-content .tab-pane .video-wrapper .work-links-wrapper .work-link:hover {
  color: #4b4b4b;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.work-wrapper .tab-content .tab-pane.active {
  display: block;
}

.work-wrapper .tab-content .tab-pane .tab-pane-item__desc {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.loader3 {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
}

.loader3 span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #ebc05d;
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
/*# sourceMappingURL=App.css.map */